.gray {
	color: gray;
}
.toDo {
	border: 1px solid lavender;
}
.templateInfo,
.shortAbout ,
form{
	border: 1px solid lavender;
	padding: 15px;
}

pre, blockquote {
	border-left: 2px solid green;
}
.active {
	background-color: green;
}

thead {
	background: green;
	color: white;
}
.fox-img{
	float: left;
}
ul li {
	list-style-image: url(../img/bullet.gif);
}

.sidebar-item :hover{
	color: green;
	border-left-color: green;
}

.nav-item {
	list-style: none;
}
.greenWord {
	color: green;
}
.greenBottom {
	background-color: green;
	height: 5px;
	margin: 0 -15px;
}
.my-nav-link {
	
	color: white;
}
.my-nav {
	background-color: black;
}
h1 {
	color: white;
}

.nav-link {
	color: white;
}
.smallHeader {
	position: relative;
	left: 30px;
	color: white;
}
.center {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.nav-item:hover {
	background-color: green;
}


.mainBody {
	width: 650px;
}

.logoAndNav {
	width: 650px;
}
